/* Footer.css */

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  margin: 0.5rem;
  transition: color 0.2s;
}

.footer-link:hover {
  color: #ccc;
}
