.codex-editor__redactor {
  width: 100%;
  max-height: fit-content;
  height: 100%;
  padding-bottom: 0 !important;
}
.ce-block__content {
  max-width: unset;
}
.codex-editor {
  display: flex;
}

.codex-editor > *[contenteditable='true']:hover {
  background-color: #cccccc !important;
}

.codex-editor {
  .ce-toolbar * {
    color: black;
  }
}


@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(103, 115, 136, 0);
  }

  ::-webkit-scrollbar-track:hover {
    background: rgba(103, 115, 136, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(103, 115, 136, 0.3);
    border-radius: 100vh;
    visibility: visible;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(103, 115, 136, 0.6);
  }

  :hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
