:root {
  /* Primary Purple */
  --primary: rgb(102, 3, 246);
  --primary-light: rgb(153, 92, 239);
  --primary-lighter: rgb(158, 101, 237);
  --primary-lightest: rgb(255, 255, 255);
  --primary-dark: rgb(92, 2, 218);
  --primary-darker: rgb(82, 3, 196);
  --primary-darkest: rgb(71, 4, 168);

  /* Secondary color (complementary) */
  --secondary-blue: rgb(0, 163, 255);
  --secondary-blue-light: rgb(51, 184, 255);
  --secondary-blue-lighter: rgb(102, 204, 255);
  --secondary-blue-lightest: rgb(153, 225, 255);
  --secondary-blue-dark: rgb(0, 142, 255);
  --secondary-blue-darker: rgb(0, 122, 204);
  --secondary-blue-darkest: rgb(0, 102, 153);

  /* Background colors */
  --background-light: rgb(255, 255, 255);
  --background-dark: rgb(14, 16, 18);

  /* Text colors */
  --text-light: rgb(255, 255, 255);
  --text-dark: rgb(14, 16, 18);

  /* Border colors */
  --border-light: rgb(211, 212, 213);
  --border-dark: rgb(51, 53, 57);

  --chakra-colors-dark-background: rgb(26, 26, 26) !important;
}

html,
body,
div#root {
  width: 100%;
}

@media (max-width: 768px) {
  html,
  body,
  div#root {
    content: '';
    display: table;
    clear: both;
    padding: 0;
    margin: 0;
  }
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.codex-editor__redactor {
  width: 100%;
  max-height: fit-content;
  height: 100%;
  padding-bottom: 0 !important;
}
.ce-block__content {
  max-width: unset;
}
.codex-editor {
  display: flex;
}

.codex-editor > *[contenteditable='true']:hover  {
    background-color: #cccccc !important; ;
}

//
//div.editor {
//  width: 100% !important;
//  text-align: left;
//}
//
//.codex-editor__redactor {
//  margin-right: 0 !important;
//  padding: 0 !important;
//  height: fit-content;
//}
//
//*[contenteditable='true'],
//*[contenteditable='true'] * {
//  border-radius: 0.25rem;
//  padding: 0.5rem;
//  border: 1px solid #e2e8f0;
//  margin-block: 0.5rem;
//  font-size: 16px;
//  line-height: 1.5;
//  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//  resize: vertical;
//}
//
//.ce-paragraph {
//  border-radius: 0.25rem;
//  padding: 0.5rem;
//  margin-block: 0.5rem;
//  font-size: 16px;
//  line-height: 1.5;
//  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//  resize: vertical;
//}
//.ce-paragraph .cdx-block {
//  border-color: var(--primary);
//}
//
//.ce-paragraph:focus {
//  border-color: #a0aec0;
//  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
//  outline: none;
//}
//
//.ce-paragraph[readonly] {
//  border-color: transparent;
//  cursor: default;
//}
//
//.ce-popover {
//  color: black;
//  font-weight: bold;
//}
//.ce-toolbar {
//  opacity: 1;
//  color: white;
//}
//
//.ce-toolbar__plus svg {
//  border-radius: 50%;
//  opacity: 1;
//  display: block;
//  visibility: visible;
//  background-color: var(--primary);
//  color: white;
//
//  font-weight: bold;
//}
//
//.ce-popover__items {
//  z-index: 100 !important;
//  color: white;
//}
//
//.ce-conversion-tool:hover {
//  background-color: var(--primary-lightest);
//  color: white;
//}
//
//.ce-toolbar__actions.ce-toolbar__actions--opened {
//  display: flex;
//  gap: 2px;
//  flex-direction: column;
//  background: transparent;
//  align-items: center;
//}
//
//.ce-toolbar__plus,
//.ce-toolbar__settings-btn {
//  padding: 5px;
//  background-color: var(--primary);
//  color: white;
//}
//
//.codex-editor svg,
//rect {
//  fill: var(--primary);
//  background-color: var(--primary);
//  color: white;
//  border-radius: 50%;
//}
//
//.ce-toolbar__plus:hover,
//.ce-toolbar__settings-btn:hover {
//  background-color: var(--primary);
//}
//
//.ce-toolbar__settings-btn {
//  margin: 0;
//}
//
//.chakra-ui-dark *::selection {
//  background-color: var(--primary);
//  color: white;
//}
//
//.fade-in {
//  animation: fadeIn ease 1s;
//  -webkit-animation: fadeIn ease 1s;
//  -moz-animation: fadeIn ease 1s;
//  -o-animation: fadeIn ease 1s;
//  -ms-animation: fadeIn ease 1s;
//}
//
//@keyframes fadeIn {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
//
//.app-container {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}
//
//@media screen and (max-width: 768px) {
//  div.app-container {
//    padding-inline: 0;
//  }
//}
//
//.cdx-input {
//  border: none;
//}
//
//@media (max-width: 768px) {
//  .community-cards-container {
//    grid-template-columns: 1fr;
//    justify-content: center;
//  }
//
//  .codex-editor--toolbox-opened,
//  .ce-popover .ce-popover__items {
//    opacity: 1 !important;
//    z-index: 100 !important;
//    background-color: var(--primary);
//    color: white;
//  }
//  .ce-popover .ce-popover__item:hover {
//    opacity: 1 !important;
//    z-index: 100 !important;
//    background-color: var(--primary);
//    color: white;
//  }
//}
//.ce-popover__item:hover,
//.ce-popover__item-secondary-label,
//.ce-popover__no-found,
//.ce-conversion-toolbar__label {
//  opacity: 1;
//  background-color: var(--primary) !important;
//  color: white !important;
//}
//
//.ce-popover--active,
//.ce-popover__item--active {
//  opacity: 1;
//  background-color: var(--primary-lightest) !important;
//  color: white !important;
//}
//
//.cdx-search-field__input:focus {
//  border-color: var(--primary) !important;
//  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6) !important;
//  outline: none !important;
//}
//.cdx-search-field__icon {
//  margin-inline: 4px;
//}
//
//.ce-block.ce-block--selected {
//  color: black;
//}
//
//.cdx-block.cdx-warning::before {
//  background-color: var(--primary);
//  padding: 0.5rem;
//  border-radius: 0.25rem;
//}
//
//.ce-popover {
//  scroll-behavior: smooth;
//  scrollbar-color: white var(--primary-darker);
//}
//
//.cdx-search-field {
//  background-color: var(--primary-darker);
//  border-color: white;
//  display: flex;
//  align-items: center;
//  /*  scroll bar should be white*/
//}
//input.cdx-search-field__input {
//  padding: 0.5rem;
//  vertical-align: middle;
//  color: white;
//}
///*placeholder */
//input.cdx-search-field__input::placeholder,
//textarea.ce-rawtool__textarea {
//  color: white;
//  font-family: 'Fira Code', monospace;
//}
//textarea.ce-code__textarea {
//  background-color: #2c2a2a;
//  color: white;
//}
//textarea.ce-code__textarea {
//  background-color: #f5f2f0;
//  color: black;
//}
//* .ce-block--selected.ce-block__content {
//  background-color: var(--primary-lightest);
//}
//
//.scrollbar {
//  scrollbar-color: white var(--primary-darker) !important;
//  scrollbar-width: thin !important;
//  scrollbar-face-color: var(--primary-darker) !important;
//}
//
//.cdx-loader {
//  display: none !important;
//  visibility: hidden !important;
//}
//
//.ce-block__content {
//  //margin-inline: 32px;
//  max-width: unset;
//}
//.ce-paragraph .cdx-block {
//  background-color: var(--primary-lightest);
//  text-align: left;
//  color: white;
//}
//.ce-toolbar__content {
//  //margin-inline: 30px;
//  max-width: unset;
//  border-radius: 0.25rem;
//}
//
//.ce-toolbar__plus,
//.ce-toolbar__settings-btn {
//  background-color: var(--primary) !important;
//  color: white !important;
//}
//
//div.cdx-checklist__item {
//  display: flex;
//  box-sizing: content-box;
//  align-items: center;
//}
//
//div.cdx-checklist__item--checked .cdx-checklist__item-checkbox-check {
//  background: transparent;
//  border-color: transparent;
//}
//div.cdx-checklist__item-checkbox-check {
//  cursor: pointer;
//  display: inline-block;
//  flex-shrink: 0;
//  position: relative;
//  width: 20px;
//  height: 20px;
//  box-sizing: border-box;
//  margin-left: 0;
//  border-radius: 5px;
//  border: 1px solid #c9c9c9;
//  background: transparent;
//}
//
//h2.ce-header {
//  padding: 0.6em;
//  margin: 0;
//  line-height: 1.25em;
//  outline: none;
//}

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(103, 115, 136, 0);
  }

  ::-webkit-scrollbar-track:hover {
    background: rgba(103, 115, 136, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(103, 115, 136, 0.3);
    border-radius: 100vh;
    visibility: visible;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(103, 115, 136, 0.6);
  }

  :hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
