@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import 'base';
@import '@rainbow-me/rainbowkit/styles.css';

html,body, #__next {
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}
img {
  height: unset;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
}
#rainbowkit{
  height: 100%;
}
#__next > div[data-rk="rainbowkit"] {
  height: 100%;
}
