/*!***/
/* * Updating values in media queries should also include changes in utils.ts@isMobile*/
/* *!*/
/*@custom-media --mobile (width <= 650px);*/
/*@custom-media --not-mobile (width >= 651px);*/
/*@custom-media --can-hover (hover: hover);*/

/*:root {*/
/*    !***/
/*     * Selection color*/
/*     *!*/
/*    --selectionColor: #e1f2ff;*/
/*    --inlineSelectionColor: #d4ecff;*/

/*    !***/
/*     * Toolbar buttons*/
/*     *!*/
/*    --bg-light: #eff2f5;*/

/*    !***/
/*     * All gray texts: placeholders, settings*/
/*     *!*/
/*    --grayText: #707684;*/

/*    !***/
/*     * Gray icons hover*/
/*     *!*/
/*    --color-dark: #1D202B;*/

/*    !***/
/*     * Blue icons*/
/*     *!*/
/*    --color-active-icon: #388AE5;*/

/*    !***/
/*     * Gray border, loaders*/
/*     * @deprecated — use --color-line-gray instead*/
/*     *!*/
/*    --color-gray-border: rgba(201, 201, 204, 0.48);*/

/*    !***/
/*     * Block content width*/
/*     * Should be set in a constant at the modules/ui.js*/
/*     *!*/
/*    --content-width: 650px;*/

/*    !***/
/*     * In narrow mode, we increase right zone contained Block Actions button*/
/*     *!*/
/*    --narrow-mode-right-padding: 50px;*/

/*    !***/
/*     * Toolbar Plus Button and Toolbox buttons height and width*/
/*     *!*/
/*    --toolbox-buttons-size: 26px;*/
/*    --toolbox-buttons-size--mobile: 36px;*/

/*    !***/
/*     * Size of svg icons got from the CodeX Icons pack*/
/*     *!*/
/*    --icon-size: 20px;*/
/*    --icon-size--mobile: 28px;*/


/*    !***/
/*     * The main `.cdx-block` wrapper has such vertical paddings*/
/*     * And the Block Actions toggler too*/
/*     *!*/
/*    --block-padding-vertical: 0.4em;*/

/*    --color-line-gray: #EFF0F1;*/

/*    --overlay-pane {*/
/*        position: absolute;*/
/*        background-color: #FFFFFF;*/
/*        border: 1px solid #E8E8EB;*/
/*        box-shadow: 0 3px 15px -3px rgba(13,20,33,0.13);*/
/*        border-radius: 6px;*/
/*        z-index: 2;*/

/*        &--left-oriented {*/
/*            &::before {*/
/*                left: 15px;*/
/*                margin-left: 0;*/
/*            }*/
/*        }*/

/*        &--right-oriented {*/
/*            &::before {*/
/*                left: auto;*/
/*                right: 15px;*/
/*                margin-left: 0;*/
/*            }*/
/*        }*/
/*    };*/

/*    --button-focused {*/
/*        box-shadow: inset 0 0 0px 1px rgba(7, 161, 227, 0.08);*/
/*        background: rgba(34, 186, 255, 0.08) !important;*/
/*    };*/

/*    --button-active {*/
/*        background: rgba(56, 138, 229, 0.1);*/
/*        color:  var(--color-active-icon);*/
/*    };*/

/*    --button-disabled {*/
/*        color: var(--grayText);*/
/*        cursor: default;*/
/*        pointer-events: none;*/
/*    }*/

/*    !***/
/*     * Styles for Toolbox Buttons and Plus Button*/
/*     *!*/
/*    --toolbox-button {*/
/*        color: var(--color-dark);*/
/*        cursor: pointer;*/
/*        width: var(--toolbox-buttons-size);*/
/*        height: var(--toolbox-buttons-size);*/
/*        border-radius: 7px;*/
/*        display: inline-flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        user-select: none;*/

/*        @media (--mobile){*/
/*            width: var(--toolbox-buttons-size--mobile);*/
/*            height: var(--toolbox-buttons-size--mobile);*/
/*        }*/

/*        @media (--can-hover) {*/
/*            &:hover {*/
/*                background-color: var(--bg-light);*/
/*            }*/
/*        }*/

/*        &--active {*/
/*            background-color: var(--bg-light);*/
/*            animation: bounceIn 0.75s 1;*/
/*            animation-fill-mode: forwards;*/
/*        }*/
/*    };*/

/*    !***/
/*     * Styles for Settings Button in Toolbar*/
/*     *!*/
/*    --toolbar-button {*/
/*        display: inline-flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/

/*        padding: 6px 1px;*/
/*        border-radius: 3px;*/
/*        cursor: pointer;*/
/*        border: 0;*/
/*        outline: none;*/
/*        background-color: transparent;*/
/*        vertical-align: bottom;*/
/*        color: inherit;*/
/*        margin: 0;*/

/*        svg {*/
/*            width: var(--icon-size);*/
/*            height: var(--icon-size);*/

/*            @media (--mobile) {*/
/*                width: var(--icon-size--mobile);*/
/*                height: var(--icon-size--mobile);*/
/*            }*/
/*        }*/

/*        @media (--can-hover) {*/
/*            &:hover {*/
/*                background-color: var(--bg-light);*/
/*            }*/
/*        }*/

/*        &--active {*/
/*            color: var(--color-active-icon);*/
/*        }*/

/*        &--focused {*/
/*            @apply --button-focused;*/

/*            &-animated {*/
/*                animation-name: buttonClicked;*/
/*                animation-duration: 250ms;*/
/*            }*/
/*        }*/
/*    };*/

/*    !***/
/*     * Tool icon with border*/
/*     *!*/
/*    --tool-icon {*/
/*        display: inline-flex;*/
/*        width: var(--toolbox-buttons-size);*/
/*        height: var(--toolbox-buttons-size);*/
/*        box-shadow: 0 0 0 1px var(--color-gray-border);*/
/*        border-radius: 5px;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*        background: #fff;*/
/*        box-sizing: content-box;*/
/*        flex-shrink: 0;*/
/*        margin-right: 10px;*/

/*        svg {*/
/*            width: var(--icon-size);*/
/*            height: var(--icon-size);*/
/*        }*/

/*        @media (--mobile) {*/
/*            width: var(--toolbox-buttons-size--mobile);*/
/*            height: var(--toolbox-buttons-size--mobile);*/
/*            border-radius: 8px;*/

/*            svg {*/
/*                width: var(--icon-size--mobile);*/
/*                height: var(--icon-size--mobile);*/
/*            }*/
/*        }*/
/*    }*/
/*}*/



/*.cdx-warning {*/
/*    position: relative;*/

/*}*/

/*@media all and (min-width: 736px) {*/
/*    .cdx-warning {*/
/*        padding-left: 36px;*/
/*    }*/
/*}*/

/*.cdx-warning [contentEditable=true][data-placeholder]::before{*/
/*    position: absolute;*/
/*    content: attr(data-placeholder);*/
/*    color: #707684;*/
/*    font-weight: normal;*/
/*    opacity: 0;*/
/*}*/

/*.cdx-warning [contentEditable=true][data-placeholder]:empty::before {*/
/*    opacity: 1;*/
/*}*/

/*.cdx-warning [contentEditable=true][data-placeholder]:empty:focus::before {*/
/*    opacity: 0;*/
/*}*/


/*.cdx-warning::before {*/
/*    content: '';*/
/*    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='14' height='14' rx='4' stroke='black' stroke-width='2'/%3E%3Cline x1='12' y1='9' x2='12' y2='12' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12 15.02V15.01' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background-size: 24px 24px;*/
/*    position: absolute;*/
/*    margin-top: 8px;*/
/*    left: 0;*/
/*}*/

/*@media all and (max-width: 735px) {*/
/*    .cdx-warning::before {*/
/*        display: none;*/
/*    }*/
/*}*/

/*.cdx-warning__message {*/
/*    min-height: 85px;*/
/*}*/

/*.cdx-warning__title {*/
/*    margin-bottom: 6px;*/
/*}*/


/*@keyframes fade-in {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/

/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*.ce-block {*/
/*    animation: fade-in 300ms ease;*/
/*    animation-fill-mode: initial;*/

/*    &:first-of-type {*/
/*        margin-top: 0;*/
/*    }*/

/*    &--selected &__content {*/
/*        background: var(--selectionColor);*/

/*        !***/
/*         * Workaround Safari case when user can select inline-fragment with cross-block-selection*/
/*         *!*/
/*        & [contenteditable] {*/
/*            -webkit-user-select: none;*/
/*            user-select: none;*/
/*        }*/

/*        img,*/
/*        .ce-stub {*/
/*            opacity: 0.55;*/
/*        }*/
/*    }*/

/*    &--stretched &__content {*/
/*        max-width: none;*/
/*    }*/

/*    &__content {*/
/*        position: relative;*/
/*        max-width: var(--content-width);*/
/*        margin: 0 auto;*/
/*        transition: background-color 150ms ease;*/
/*    }*/

/*    &--drop-target &__content {*/
/*        &:before {*/
/*            content: '';*/
/*            position: absolute;*/
/*            top: 100%;*/
/*            left: -20px;*/
/*            margin-top: -1px;*/
/*            height: 8px;*/
/*            width: 8px;*/
/*            border: solid var(--color-active-icon);*/
/*            border-width: 1px 1px 0 0;*/
/*            transform-origin: right;*/
/*            transform: rotate(45deg);*/
/*        }*/

/*        &:after {*/
/*            content: '';*/
/*            position: absolute;*/
/*            top: 100%;*/
/*            height: 1px;*/
/*            width: 100%;*/
/*            color: var(--color-active-icon);*/
/*            background: repeating-linear-gradient(*/
/*                    90deg,*/
/*                    var(--color-active-icon),*/
/*                    var(--color-active-icon) 1px,*/
/*                    #fff 1px,*/
/*                    #fff 6px*/
/*            );*/
/*        }*/
/*    }*/

/*    a {*/
/*        cursor: pointer;*/
/*        text-decoration: underline;*/
/*    }*/

/*    b {*/
/*        font-weight: bold;*/
/*    }*/

/*    i {*/
/*        font-style: italic;*/
/*    }*/
/*}*/

/*.codex-editor--narrow .ce-block--focused {*/
/*    @media (--not-mobile) {*/
/*        margin-right: calc(var(--narrow-mode-right-padding) * -1);*/
/*        padding-right: var(--narrow-mode-right-padding);*/
/*    }*/
/*}*/
/*!***/
/** Editor wrapper*/
/**!*/
/*.codex-editor {*/
/*    position: relative;*/
/*    box-sizing: border-box;*/
/*    z-index: 1;*/

/*    .hide {*/
/*        display: none;*/
/*    }*/

/*    &__redactor {*/
/*        !***/
/*         * Workaround firefox bug: empty content editable elements has collapsed height*/
/*         * https://bugzilla.mozilla.org/show_bug.cgi?id=1098151#c18*/
/*         *!*/
/*        [contenteditable]:empty::after {*/
/*            content: "\feff ";*/
/*        }*/
/*    }*/

/*    !***/
/*     * Styles for narrow holder*/
/*     *!*/
/*    &--narrow &__redactor {*/
/*        @media (--not-mobile) {*/
/*            margin-right: var(--narrow-mode-right-padding);*/
/*        }*/
/*    }*/

/*    &--narrow&--rtl &__redactor {*/
/*        @media (--not-mobile) {*/
/*            margin-left: var(--narrow-mode-right-padding);*/
/*            margin-right: 0;*/
/*        }*/
/*    }*/

/*    &--narrow .ce-toolbar__actions {*/
/*        @media (--not-mobile) {*/
/*            right: -5px;*/
/*        }*/
/*    }*/

/*    &-copyable {*/
/*        position: absolute;*/
/*        height: 1px;*/
/*        width: 1px;*/
/*        top: -400%;*/
/*        opacity: 0.001;*/
/*    }*/

/*    &-overlay {*/
/*        position: fixed;*/
/*        top: 0px;*/
/*        left: 0px;*/
/*        right: 0px;*/
/*        bottom: 0px;*/
/*        z-index: 999;*/
/*        pointer-events: none;*/
/*        overflow: hidden;*/

/*        &__container {*/
/*            position: relative;*/
/*            pointer-events: auto;*/
/*            z-index: 0;*/
/*        }*/

/*        &__rectangle {*/
/*            position: absolute;*/
/*            pointer-events: none;*/
/*            background-color: rgba(46, 170, 220, 0.2);*/
/*            border: 1px solid transparent;*/
/*        }*/
/*    }*/

/*    svg {*/
/*        max-height: 100%;*/
/*    }*/

/*    path {*/
/*        stroke: currentColor;*/
/*    }*/


/*    !***/
/*    * Set color for native selection*/
/*    *!*/
/*    ::selection{*/
/*        background-color: var(--inlineSelectionColor);*/
/*    }*/
/*}*/


/*.codex-editor--toolbox-opened [contentEditable=true][data-placeholder]:focus::before {*/
/*    opacity: 0 !important;*/
/*}*/

/*.ce-scroll-locked {*/
/*    overflow: hidden;*/
/*}*/

/*.ce-scroll-locked--hard {*/
/*    overflow: hidden;*/
/*    top: calc(-1 * var(--window-scroll-offset));*/
/*    position: fixed;*/
/*    width: 100%;*/
/*}*/

/*!***/
/* * Updating values in media queries should also include changes in utils.ts@isMobile*/
/* *!*/
/*@custom-media --mobile (width <= 650px);*/
/*@custom-media --not-mobile (width >= 651px);*/
/*@custom-media --can-hover (hover: hover);*/

/*:root {*/
/*    !***/
/*     * Selection color*/
/*     *!*/
/*    --selectionColor: #e1f2ff;*/
/*    --inlineSelectionColor: #d4ecff;*/

/*    !***/
/*     * Toolbar buttons*/
/*     *!*/
/*    --bg-light: #eff2f5;*/

/*    !***/
/*     * All gray texts: placeholders, settings*/
/*     *!*/
/*    --grayText: #707684;*/

/*    !***/
/*     * Gray icons hover*/
/*     *!*/
/*    --color-dark: #1D202B;*/

/*    !***/
/*     * Blue icons*/
/*     *!*/
/*    --color-active-icon: #388AE5;*/

/*    !***/
/*     * Gray border, loaders*/
/*     * @deprecated — use --color-line-gray instead*/
/*     *!*/
/*    --color-gray-border: rgba(201, 201, 204, 0.48);*/

/*    !***/
/*     * Block content width*/
/*     * Should be set in a constant at the modules/ui.js*/
/*     *!*/
/*    --content-width: 650px;*/

/*    !***/
/*     * In narrow mode, we increase right zone contained Block Actions button*/
/*     *!*/
/*    --narrow-mode-right-padding: 50px;*/

/*    !***/
/*     * Toolbar Plus Button and Toolbox buttons height and width*/
/*     *!*/
/*    --toolbox-buttons-size: 26px;*/
/*    --toolbox-buttons-size--mobile: 36px;*/

/*    !***/
/*     * Size of svg icons got from the CodeX Icons pack*/
/*     *!*/
/*    --icon-size: 20px;*/
/*    --icon-size--mobile: 28px;*/


/*    !***/
/*     * The main `.cdx-block` wrapper has such vertical paddings*/
/*     * And the Block Actions toggler too*/
/*     *!*/
/*    --block-padding-vertical: 0.4em;*/

/*    --color-line-gray: #EFF0F1;*/

/*    --overlay-pane {*/
/*        position: absolute;*/
/*        background-color: #FFFFFF;*/
/*        border: 1px solid #E8E8EB;*/
/*        box-shadow: 0 3px 15px -3px rgba(13,20,33,0.13);*/
/*        border-radius: 6px;*/
/*        z-index: 2;*/

/*        &--left-oriented {*/
/*            &::before {*/
/*                left: 15px;*/
/*                margin-left: 0;*/
/*            }*/
/*        }*/

/*        &--right-oriented {*/
/*            &::before {*/
/*                left: auto;*/
/*                right: 15px;*/
/*                margin-left: 0;*/
/*            }*/
/*        }*/
/*    };*/

/*    --button-focused {*/
/*        box-shadow: inset 0 0 0px 1px rgba(7, 161, 227, 0.08);*/
/*        background: rgba(34, 186, 255, 0.08) !important;*/
/*    };*/

/*    --button-active {*/
/*        background: rgba(56, 138, 229, 0.1);*/
/*        color:  var(--color-active-icon);*/
/*    };*/

/*    --button-disabled {*/
/*        color: var(--grayText);*/
/*        cursor: default;*/
/*        pointer-events: none;*/
/*    }*/

/*    !***/
/*     * Styles for Toolbox Buttons and Plus Button*/
/*     *!*/
/*    --toolbox-button {*/
/*        color: var(--color-dark);*/
/*        cursor: pointer;*/
/*        width: var(--toolbox-buttons-size);*/
/*        height: var(--toolbox-buttons-size);*/
/*        border-radius: 7px;*/
/*        display: inline-flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        user-select: none;*/

/*        @media (--mobile){*/
/*            width: var(--toolbox-buttons-size--mobile);*/
/*            height: var(--toolbox-buttons-size--mobile);*/
/*        }*/

/*        @media (--can-hover) {*/
/*            &:hover {*/
/*                background-color: var(--bg-light);*/
/*            }*/
/*        }*/

/*        &--active {*/
/*            background-color: var(--bg-light);*/
/*            animation: bounceIn 0.75s 1;*/
/*            animation-fill-mode: forwards;*/
/*        }*/
/*    };*/

/*    !***/
/*     * Styles for Settings Button in Toolbar*/
/*     *!*/
/*    --toolbar-button {*/
/*        display: inline-flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/

/*        padding: 6px 1px;*/
/*        border-radius: 3px;*/
/*        cursor: pointer;*/
/*        border: 0;*/
/*        outline: none;*/
/*        background-color: transparent;*/
/*        vertical-align: bottom;*/
/*        color: inherit;*/
/*        margin: 0;*/

/*        svg {*/
/*            width: var(--icon-size);*/
/*            height: var(--icon-size);*/

/*            @media (--mobile) {*/
/*                width: var(--icon-size--mobile);*/
/*                height: var(--icon-size--mobile);*/
/*            }*/
/*        }*/

/*        @media (--can-hover) {*/
/*            &:hover {*/
/*                background-color: var(--bg-light);*/
/*            }*/
/*        }*/

/*        &--active {*/
/*            color: var(--color-active-icon);*/
/*        }*/

/*        &--focused {*/
/*            @apply --button-focused;*/

/*            &-animated {*/
/*                animation-name: buttonClicked;*/
/*                animation-duration: 250ms;*/
/*            }*/
/*        }*/
/*    };*/

/*    !***/
/*     * Tool icon with border*/
/*     *!*/
/*    --tool-icon {*/
/*        display: inline-flex;*/
/*        width: var(--toolbox-buttons-size);*/
/*        height: var(--toolbox-buttons-size);*/
/*        box-shadow: 0 0 0 1px var(--color-gray-border);*/
/*        border-radius: 5px;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*        background: #fff;*/
/*        box-sizing: content-box;*/
/*        flex-shrink: 0;*/
/*        margin-right: 10px;*/

/*        svg {*/
/*            width: var(--icon-size);*/
/*            height: var(--icon-size);*/
/*        }*/

/*        @media (--mobile) {*/
/*            width: var(--toolbox-buttons-size--mobile);*/
/*            height: var(--toolbox-buttons-size--mobile);*/
/*            border-radius: 8px;*/

/*            svg {*/
/*                width: var(--icon-size--mobile);*/
/*                height: var(--icon-size--mobile);*/
/*            }*/
/*        }*/
/*    }*/
/*}*/
