.image-upload-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

.chakra-form-control .image-upload-label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /*uppercase: true;*/
  /*make uppercase*/
  text-transform: capitalize;
  border-radius: 5px;

  font-weight: 500;
}

label.image-upload-label {
  font-size: 1.6rem;
  font-weight: inherit;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
label.image-upload-label.disabled {
  /* make the image opaque */
  opacity: 0.2;
}


.image-upload-display {
  align-self: center;
  justify-self: center;
  width: 10rem;
  text-align: center;
  background-origin: border-box;
}

picture > .image-upload-display:hover {
  cursor: pointer;
  /* make the image opaque */
  opacity: 0.5;
}
